*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	padding-top: 20px;
	font-family: 'Helvetica', sans-serif;
	font-size: 12pt;
	}

	
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	}

.browser text{
	text-anchor: end;
	}
.area{
	clip-path: url(#clip);
	}
.brush .extent{
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
	}
	
#contentHolder{
	width: 1200px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}

#areaChartContainer{
	position:relative;
	width: 670px;
	height: 570px;
	float: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 50px;
}

#areaChart{
	width: 675px;
	height: 100%;
	float: left;
}

#details{
	width: 500px;
	height: 200px;
	margin-left: 100px;
	margin-right: auto;
	float: left;
}

#detailsBox{
	width: 500px;
	height: 10px;
	margin-left: 0px;
	float: left;
}

#eventsKey{
	width: 500px;
	height: 40px;
	float: left;
}
	
#rightSide {
	float: left;
	margin-top: 50px;
	height: 800px;
	width: 420px;
}

#container{
	position: relative;
	float:left;
	width: 400px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border:2px dotted;

}	


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 42px;                 
  padding: 2px;             
  font: 10px sans-serif;        
  background: white;   
  border: 1px; 
  stroke: black;  
  border-radius: 8px;
  stroke-width: 1px;
  pointer-events: none;         
}