*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	padding-top: 20px;
	font: 14px sans-serif;
	}

	
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	}

.browser text{
	text-anchor: end;
	}
.area{
	clip-path: url(#clip);
	}
.brush .extent{
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
	}
	
#contentHolder{
	width:1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#areaChartContainer{
	position:relative;
	width: 800px;
	height: 500px;
	float: left;
	margin-top:10px;
	margin-left: auto;
	margin-right: 50px;
	}

#areaChart{
	width: 900px;
	height: 400px;
	float: left;
}

#details{
	width: 700px;
	height: 200px;
	margin-left: 100px;
	margin-right: auto;
	float: left;
}

#detailsBox{
	width: 700px;
	height: 200px;
	margin-left: 0px;
	float: left;
}

#eventsKey{
	width: 700px;
	height: 50px;
	float: left;
}
	
#rightSide {
	//float: left;
	//margin-top: 50px;
	height: 800px;
	width: 1000px;
}

#container{
	float:left;
	width: 100%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	border:2px dotted;

}	


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 42px;                 
  padding: 2px;             
  font: 10px sans-serif;        
  background: white;   
  border: 1px; 
  stroke: black;  
  border-radius: 8px;
  stroke-width: 1px;
  pointer-events: none;         
}