*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	/*padding-top: 20px;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

	
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	}

.browser text{
	text-anchor: end;
	}
.area{
	clip-path: url(#clip);
	}
.brush .extent{
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
	}
	
#contentHolder{
	width: 1100px;
	height: 900px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#header {

	background-color: rgb(153, 7, 7);
	padding-top: 10px;
	padding-bottom: 10px;
}

#areaChartContainer{
	position:relative;
	width: 610px;
	height: 475px;
	float: left;
	margin-top: 5px;
	margin-left: auto;
	margin-right: 20px;
}

#areaChart{
	width: 550px;
	height: 100%;
	float: left;
	margin-left: 20px;
}

#details{
	width: 550px;
	height: 150px;
	margin-left: 120px;
	margin-right: auto;
	margin-top:-100px;
	float: left;
}

#detailsBox{
	width: 550px;
	height: 100px;
	margin-left: 0px;
	float: left;
}

#eventsKey{
	width: 500px;
	height: 30px;
	float: left;
}
	
#rightSide {
	float: left;
	margin-top: 40px;
	margin-left: 50px;
	height: 800px;
	width: 420px;
}

#container{
	position: relative;
	float:left;
	width: 400px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}	

h1, h3 { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20pt;
	font-weight: lighter;
	text-align: center;
	color: white;
}

h3 { font-size: 10pt; color: lightgray; padding-top: 2px;}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 42px;         
  stroke: black;  
  border-radius: 8px;
  stroke-width: 1px;
  pointer-events: none;     
  padding: 4px; 
  border-radius: 1px;
  background-color: #FFF;
  box-shadow: 1px 1px 5px #CCC;
  font-size: 10px;
  border: 1px solid #CCC;
}